* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.sidebar {
  background: #1e88e5;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  margin: 15px 0;
}

.gap{
    margin-top: 45px;
}

.search, .notification-icon{
  width: 24px;
  filter: brightness(0);
}

.search-bar {
  display: flex;
  align-items: center;
  background: #e2e8f0;
  padding: 8px 15px;
  border-radius: 30px;
  width: 400px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 10px;
  flex: 1;
  font-size: 14px;
}




.main {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px 25px;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 10px;
}

.card {
  background: #eee;
  padding: 30px;
  border-left: 5px solid orange;
  border-radius: 8px;
}

.side-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcements,
.trending {
  background: #eee;
  padding: 30px 30px;
  border-radius: 8px;
}